.rotateX-180 {
  transform: rotateX(90deg);
}

.hexagon {
  clip-path: polygon(
    50% 0%,
    93% 25%,
    93% 75%,
    50% 100%,
    7% 75%,
    7% 25%
  );
  overflow: hidden;
}

.slick-dots li.slick-active button {
  background-color: #14b8a6 !important; /* teal-500 */
  transform: scale(1.25);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
